h1 {
    margin: 10px;
    padding: 0;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    }   

h2 {
    margin: 10px;
    font-size: 12px;
    line-height: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    }   

main    {
        display: flex;
        align-items: flex-start;
        }

article {
        border: 2px solid lightgrey;
        border-radius: 5px;
        width: 340px;
        margin: 10px;
        }

.card-header    {
                display: flex;
                justify-content: space-between;
                }

.avatar {
        margin: 15px;
        width: 50px;
        height: 50px;
        }

.card-text  {
            padding: 10px;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            }


.card-title {
            font-weight: bold;  
            }  

.card-subtitle  {
                margin-bottom: 20px;
                color: grey; 
                }       

.card-buttons {
              display: flex;
              justify-content: center;
              border-top: 0.5px solid lightgrey;
              margin-left: 0;
              }
                    
.card-body  {
            margin-bottom: 20px;
            height: 80px;
            }

button  {
        width: 350px;
        margin: 15px 0;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        background-color: white;
        }

.green-button   {
                border-left: 1.5px solid limegreen;
                border-top: 1.5px solid limegreen;
                border-bottom: 1.5px solid limegreen;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                color: limegreen;
                }
              
.red-button     {
                border: 1.5px solid red;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                color: red;
                }